body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.customimage-sml {
    height: 75px;
    width: 75px;
    object-fit: cover;
}
.customimage-med {
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.customimage-lrg {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.instrumentimage-sml {
    height: 75px;
    width: 75px;
    object-fit: scale-down;
}

.instrumentimage-med {
    height: 150px;
    width: 150px;
    object-fit: scale-down;
}

.instrumentimage-lrg {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
}
.instrumentimage-ml {
    height: 400px;
    width: 400px;
    object-fit: scale-down;
}
.instrumentimage-xl {
    height: 450px;
    width: 450px;
    object-fit: scale-down;
}
.instrumentimage-card {
    width: 18rem;
    height: 18rem;
    object-fit: scale-down;
}

.customimage-card {
    width:18rem;
    height:18rem;
    object-fit: cover;
}

.alert {
    margin-top: 10px;
}

.border-primary {
    border: 1px solid #007bff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 20px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card-text {
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
}

.update-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-empty {
    margin-top:20px;
}

.artist-inst-form {
    margin-top: 20px;
    margin-bottom: 40px;
}

.fade-in {
    opacity: 1;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative;
    animation-duration: 0.25s;
}

@keyframes fadeIn {
    0% {
        top:100px;
        opacity: 0;
    }

    100% {
        top:0;
        opacity: 1;
    }
}
/*REFERENCE - https://medium.com/@vembarrajan/html-css-tricks-scroll-able-table-body-tbody-d23182ae0fbc */
.instrument-table tbody {
    display: block;
    overflow: auto;
    height: 200px;
    width: 100%;
}
.instrument-table thead tr {
    display: block;
}
.instrument-table thead, .instrument-table tbody tr, .instrument-table tfoot {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.details-text {
    text-align:center;
    margin-top: 20%;
    margin-bottom:20%;
}
