@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GearLog</h1>
    <p class="lead">A database for musicians and their gear.</p>
</div>

<div class="row">
    <div class="col-md-4">
        
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Bands")">Bands</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Artists")">Artists</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Instruments")">Instruments</a></p>
    </div>
</div>